#!/bin/sh

set -e

. /usr/share/debconf/confmodule

Parse_config()
{
	VAR="$1"
	DEBCONF="$2"

	if [ "$VAR" != 'null' ] && [ "$VAR" != '' ]
	then
		db_set "$DEBCONF" "$VAR"
	fi
}

CONFFILE="/etc/snipe-it/env"

if [ -f "$CONFFILE" ]
then
	. "${CONFFILE}" || true

	if [ "$DB_HOST" != '127.0.0.1' ] && [ "$DB_HOST" != 'null' ] && [ "$DB_HOST" != '' ]
	then
		db_set snipe-it/dbserver "$DB_HOST"
	fi

	Parse_config "$APP_URL" snipe-it/appurl
	Parse_config "$DB_DATABASE" snipe-it/dbname
	Parse_config "$DB_USERNAME" snipe-it/dbuser
	Parse_config "$DB_PASSWORD" snipe-it/dbpassword
fi

db_input high snipe-it/appurl || true
db_input high snipe-it/dbcreate || true
db_input high snipe-it/dbserver || true
db_input medium snipe-it/dbname || true
db_input medium snipe-it/dbuser || true
db_input high snipe-it/dbpassword || true

db_input high snipe-it/mailserver || true
db_go

db_get snipe-it/mailserver || true
MAIL_SERVER_CREATE="${RET:-false}"

if [ "$MAIL_SERVER_CREATE" = 'true' ]
then
	Parse_config "$MAIL_HOST" snipe-it/outgoing
	Parse_config "$MAIL_PORT" snipe-it/serverport
	Parse_config "$MAIL_USERNAME" snipe-it/emailuser
	Parse_config "$MAIL_PASSWORD" snipe-it/emailpassword
	Parse_config "$MAIL_ENCRYPTION" snipe-it/emailencryption
	Parse_config "$MAIL_FROM_ADDR" snipe-it/fromaddress
	Parse_config "$MAIL_FROM_NAME" snipe-it/fromname
	Parse_config "$MAIL_REPLYTO_ADDR" snipe-it/replytoaddress
	Parse_config "$MAIL_REPLYTO_NAME" snipe-it/replytoname

	db_input high snipe-it/outgoing || true
	db_input high snipe-it/serverport || true
	db_input medium snipe-it/emailuser || true
	db_input medium snipe-it/emailpassword || true
	db_input high snipe-it/emailencryption || true
	db_input high snipe-it/fromaddress || true
	db_input high snipe-it/fromname || true
	db_input high snipe-it/replytoaddress || true
	db_input high snipe-it/replytoname || true
fi

db_go

db_stop
